.main-background {
overflow: hidden;
background: black;
background-image: url('../assets/img/background.png');
background-size: contain;
background-repeat: no-repeat;
background-position: center;
}
.title {
font-size: 46px;
color: yellow;
text-align: center;
}
.landing-page {
	background: black;
}