.scroll-content {
//background : #00FFFF;
//background-image: url('../home/backimage.png');
//background-size: cover;
//background-repeat: no-repeat;

}

.title {
$toolbar-ios-title-text-color: #FFFF00;

}
my-component {
  background : #55acee;
}

.logo-text-body {
text-align: center;

}

.name-size{
font-size: 44px;
text-align: center;
color: yellow;

}