.scroll-content {
//    background : #000000
background-image: url('./heh copy.png')
}
.ion-image{
    background-image: url('heh copy.png')
}
.ion-card {
border-width: 100px;
border-color: #00FFFF

}
.title {
$toolbar-ios-title-text-color: #FFFF00;

}
my-component {
  background : #55acee
}

.logo-text-body {
text-align: center;

}

.name-size{
font-size: 64px;
text-align: center
}